<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- 设置 -->
	<settings>
	<!-- 设置日志打印对象 -->
		<!-- logImpl：日志实现对象 ,如果不指定，则自动查找日志打印对象 -->
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
</configuration>